/* src/styles.css */
@import 'tailwindcss';

@theme {
    --color-bg-dark: #0F3040;
    --color-header-dark: #464858;
}

/* Updated selector: checks if the element has .dark OR if an ancestor has .dark */
@custom-variant dark-theme (&:where(.dark, .dark *, :has-ancestor(.dark)));

body {
    background-color: white;
    transition: background-color 0.3s ease;
    /* Smooth transition */

    :where(.dark) &,
    &.dark {
        background-color: var(--color-bg-dark);
    }
}

table {
    background-color: transparent;
}


@utility header {
    @apply text-3xl font-bold text-slate-800;
}
    